.timer {
    font-size:12pt;
    text-align:right;
}

.button {
    float:left;
}
#test  {
    position:relative;
}

.pauseplay {
    width:12px;
    height:12px;
}
.outerLine {
    border: 2px solid #a1a1a1;
    border-radius: 25px;
    background-color:#9C9C9C;
	margin-left:3px;
}

.innerLine {
    margin-top:-2px;
    border: 3px solid #A20000;	
    border-radius: 25px;
    background-color:#A20000;
    border-bottom:1px solid #A20000;
}
.icon {
	width:13px;
	height:14px;
    position: absolute;
    margin-top: -14px;
	margin-left:3px;
	}
.circle {
	background-color:blue;
	position:relative;
	margin-top:-0px;
	z-index:5;
    float:left;
}