.timer {
    font-size:10pt;
    text-align:right;
}

.button {
    float:left;
}
#test  {
    position:relative;
}

.outerLine {
	margin-left:4px;
    background-color:#9C9C9C;
    border-bottom: 1px solid #FFF;
}

.innerLine {
    background-color:#A20000;
}
.icon {
	width:15px;
	height:15px;
    position: absolute;
    margin-top: -13px;
}
.circle {
    margin-top:-0px;
    float:left;
}