.timer {
    font-size:10pt;
    text-align:right;
}

.button {
    float:left;
}
#test  {
    position:relative;
}

.outerLine {
    background-color:#9C9C9C;
    border-bottom: 1px solid #FFF;
}

.innerLine {
    background-color:#A20000;
}
.icon {
    position: absolute;
    margin-top: -10px;
}
.circle {
    margin-top:-0px;
    float:left;
}